<div class="col-md-12">
  <h2><i class="glyphicon glyphicon-fire"></i>Curated Documents <span class="badge"><%= @docs.size %></span></a></h2>
  <% @docs.each do |doc| %>
      <%= doc.title %>

      <small><a href= "<%= doc.url %>"><%= doc.url %> </small>
      <div class="pull-right">
        <%= link_to edit_doc_path(doc), class: "icon-link" do %>
          <small><i class="glyphicon glyphicon-cog"></i></small>
        <% end %>
        
        <small><i class="glyphicon glyphicon-plus-sign"></i></small>
        <span class="label label-warning"><%= link_to 'Delete', doc_path(:id => doc.id), :method => :delete %></span>
        <small><i class="glyphicon glyphicon-trash"></i></small>
        
      </div>
    </h3>

    <ul class="list-group">
      <li class="list-group-item"> <%= doc.content %></li>
    </ul>
  <% end %>

</div>
